/* ajout des admonitions suivants::
attention
complement
exercice
exemple
cours
remarque
preuve

*/
:root {
  --md-admonition-icon--attention: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"></path></svg>');
  --md-admonition-couleur--attention: rgb(255, 0, 0);
  --md-admonition-couleur-transparence--attention: rgba(255, 0, 0,0.2);
}
.md-typeset .admonition.attention,
.md-typeset details.attention {
    /* couleur bordure  */
  border-color: var(--md-admonition-couleur--attention);
}
.md-typeset .attention > .admonition-title,
.md-typeset .attention > summary {
  background-color: var(--md-admonition-couleur-transparence--attention);
  border-color: var(--md-admonition-couleur--attention);
}
.md-typeset .attention > .admonition-title::before,
.md-typeset .attention > summary::before {
    /* fond au niveau de l'icône */
  background-color: var(--md-admonition-couleur--attention);
  -webkit-mask-image: var(--md-admonition-icon--attention);
          mask-image: var(--md-admonition-icon--attention);
}

:root {
  --md-admonition-icon--complement: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"></path></svg>');
  --md-admonition-couleur--complement: rgb(4, 159, 170);
  --md-admonition-couleur-transparence--complement: rgba(4, 159, 170,0.2);
}
.md-typeset .admonition.complement,
.md-typeset details.complement {
    /* couleur bordure  */
  border-color: var(--md-admonition-couleur--complement);
}
.md-typeset .complement > .admonition-title,
.md-typeset .complement > summary {
  background-color: var(--md-admonition-couleur-transparence--complement);
  border-color: var(--md-admonition-couleur--complement);
}
.md-typeset .complement > .admonition-title::before,
.md-typeset .complement > summary::before {
    /* fond au niveau de l'icône */
  background-color: var(--md-admonition-couleur--complement);
  -webkit-mask-image: var(--md-admonition-icon--complement);
          mask-image: var(--md-admonition-icon--complement);
}

:root {
  --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.429 1.525a6.593 6.593 0 011.142 0c.036.003.108.036.137.146l.289 1.105c.147.56.55.967.997 1.189.174.086.341.183.501.29.417.278.97.423 1.53.27l1.102-.303c.11-.03.175.016.195.046.219.31.41.641.573.989.014.031.022.11-.059.19l-.815.806c-.411.406-.562.957-.53 1.456a4.588 4.588 0 010 .582c-.032.499.119 1.05.53 1.456l.815.806c.08.08.073.159.059.19a6.494 6.494 0 01-.573.99c-.02.029-.086.074-.195.045l-1.103-.303c-.559-.153-1.112-.008-1.529.27-.16.107-.327.204-.5.29-.449.222-.851.628-.998 1.189l-.289 1.105c-.029.11-.101.143-.137.146a6.613 6.613 0 01-1.142 0c-.036-.003-.108-.037-.137-.146l-.289-1.105c-.147-.56-.55-.967-.997-1.189a4.502 4.502 0 01-.501-.29c-.417-.278-.97-.423-1.53-.27l-1.102.303c-.11.03-.175-.016-.195-.046a6.492 6.492 0 01-.573-.989c-.014-.031-.022-.11.059-.19l.815-.806c.411-.406.562-.957.53-1.456a4.587 4.587 0 010-.582c.032-.499-.119-1.05-.53-1.456l-.815-.806c-.08-.08-.073-.159-.059-.19a6.44 6.44 0 01.573-.99c.02-.029.086-.075.195-.045l1.103.303c.559.153 1.112.008 1.529-.27.16-.107.327-.204.5-.29.449-.222.851-.628.998-1.189l.289-1.105c.029-.11.101-.143.137-.146zM8 0c-.236 0-.47.01-.701.03-.743.065-1.29.615-1.458 1.261l-.29 1.106c-.017.066-.078.158-.211.224a5.994 5.994 0 00-.668.386c-.123.082-.233.09-.3.071L3.27 2.776c-.644-.177-1.392.02-1.82.63a7.977 7.977 0 00-.704 1.217c-.315.675-.111 1.422.363 1.891l.815.806c.05.048.098.147.088.294a6.084 6.084 0 000 .772c.01.147-.038.246-.088.294l-.815.806c-.474.469-.678 1.216-.363 1.891.2.428.436.835.704 1.218.428.609 1.176.806 1.82.63l1.103-.303c.066-.019.176-.011.299.071.213.143.436.272.668.386.133.066.194.158.212.224l.289 1.106c.169.646.715 1.196 1.458 1.26a8.094 8.094 0 001.402 0c.743-.064 1.29-.614 1.458-1.26l.29-1.106c.017-.066.078-.158.211-.224a5.98 5.98 0 00.668-.386c.123-.082.233-.09.3-.071l1.102.302c.644.177 1.392-.02 1.82-.63.268-.382.505-.789.704-1.217.315-.675.111-1.422-.364-1.891l-.814-.806c-.05-.048-.098-.147-.088-.294a6.1 6.1 0 000-.772c-.01-.147.039-.246.088-.294l.814-.806c.475-.469.679-1.216.364-1.891a7.992 7.992 0 00-.704-1.218c-.428-.609-1.176-.806-1.82-.63l-1.103.303c-.066.019-.176.011-.299-.071a5.991 5.991 0 00-.668-.386c-.133-.066-.194-.158-.212-.224L10.16 1.29C9.99.645 9.444.095 8.701.031A8.094 8.094 0 008 0zm1.5 8a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM11 8a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>');
  --md-admonition-couleur--exercice: rgb(150, 0, 155);
  --md-admonition-couleur-transparence--exercice: rgba(150, 0, 155,0.2);
}
.md-typeset .admonition.exercice,
.md-typeset details.exercice {
    /* couleur bordure  */
  border-color: var(--md-admonition-couleur--exercice);
}
.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  background-color: var(--md-admonition-couleur-transparence--exercice);
  border-color: var(--md-admonition-couleur--exercice);
}
.md-typeset .exercice > .admonition-title::before,
.md-typeset .exercice > summary::before {
    /* fond au niveau de l'icône */
  background-color: var(--md-admonition-couleur--exercice);
  -webkit-mask-image: var(--md-admonition-icon--exercice);
          mask-image: var(--md-admonition-icon--exercice);
}

:root {
  --md-admonition-icon--exemple: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z"></path></svg>');
  --md-admonition-couleur--exemple: rgb(4, 170, 12);
  --md-admonition-couleur-transparence--exemple: rgba(4, 170, 12,0.2);
}
.md-typeset .admonition.exemple,
.md-typeset details.exemple {
    /* couleur bordure  */
  border-color: var(--md-admonition-couleur--exemple);
}
.md-typeset .exemple > .admonition-title,
.md-typeset .exemple > summary {
  background-color: var(--md-admonition-couleur-transparence--exemple);
  border-color: var(--md-admonition-couleur--exemple);
}
.md-typeset .exemple > .admonition-title::before,
.md-typeset .exemple > summary::before {
    /* fond au niveau de l'icône */
  background-color: var(--md-admonition-couleur--exemple);
  -webkit-mask-image: var(--md-admonition-icon--exemple);
          mask-image: var(--md-admonition-icon--exemple);
}

:root {
    --md-admonition-icon--cours: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.693 1.066a.75.75 0 01.614 0l7.25 3.25a.75.75 0 010 1.368L13 6.831v2.794c0 1.024-.81 1.749-1.66 2.173-.893.447-2.075.702-3.34.702-.278 0-.55-.012-.816-.036a.75.75 0 01.133-1.494c.22.02.45.03.683.03 1.082 0 2.025-.221 2.67-.543.69-.345.83-.682.83-.832V7.503L8.307 8.934a.75.75 0 01-.614 0L4 7.28v1.663c.296.105.575.275.812.512.438.438.688 1.059.688 1.796v3a.75.75 0 01-.75.75h-3a.75.75 0 01-.75-.75v-3c0-.737.25-1.358.688-1.796.237-.237.516-.407.812-.512V6.606L.443 5.684a.75.75 0 010-1.368l7.25-3.25zM2.583 5L8 7.428 13.416 5 8 2.572 2.583 5zM2.5 11.25c0-.388.125-.611.25-.735a.704.704 0 01.5-.203c.19 0 .37.071.5.203.125.124.25.347.25.735v2.25H2.5v-2.25z"></path></svg>');
    --md-admonition-couleur--cours: rgb(255, 136, 0);
    --md-admonition-couleur-transparence--cours: rgba(255, 136, 0,0.2);
}
  .md-typeset .admonition.cours,
  .md-typeset details.cours {
      /* couleur bordure  */
    border-color: var(--md-admonition-couleur--cours);
  }
  .md-typeset .cours > .admonition-title,
  .md-typeset .cours > summary {
    background-color: var(--md-admonition-couleur-transparence--cours);
    border-color: var(--md-admonition-couleur--cours);
  }
  .md-typeset .cours > .admonition-title::before,
  .md-typeset .cours > summary::before {
      /* fond au niveau de l'icône */
    background-color: var(--md-admonition-couleur--cours);
    -webkit-mask-image: var(--md-admonition-icon--cours);
            mask-image: var(--md-admonition-icon--cours);
  }

  :root {
    --md-admonition-icon--remarque: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M4.456.734a1.75 1.75 0 012.826.504l.613 1.327a3.081 3.081 0 002.084 1.707l2.454.584c1.332.317 1.8 1.972.832 2.94L11.06 10l3.72 3.72a.75.75 0 11-1.061 1.06L10 11.06l-2.204 2.205c-.968.968-2.623.5-2.94-.832l-.584-2.454a3.081 3.081 0 00-1.707-2.084l-1.327-.613a1.75 1.75 0 01-.504-2.826L4.456.734zM5.92 1.866a.25.25 0 00-.404-.072L1.794 5.516a.25.25 0 00.072.404l1.328.613A4.582 4.582 0 015.73 9.63l.584 2.454a.25.25 0 00.42.12l5.47-5.47a.25.25 0 00-.12-.42L9.63 5.73a4.581 4.581 0 01-3.098-2.537L5.92 1.866z"></path></svg>');
    --md-admonition-couleur--remarque: rgb(40, 4, 170);
    --md-admonition-couleur-transparence--remarque: rgba(40, 4, 170,0.2);
}
  .md-typeset .admonition.remarque,
  .md-typeset details.remarque {
      /* couleur bordure  */
    border-color: var(--md-admonition-couleur--remarque);
  }
  .md-typeset .remarque > .admonition-title,
  .md-typeset .remarque > summary {
    background-color: var(--md-admonition-couleur-transparence--remarque);
    border-color: var(--md-admonition-couleur--remarque);
  }
  .md-typeset .remarque > .admonition-title::before,
  .md-typeset .remarque > summary::before {
      /* fond au niveau de l'icône */
    background-color: var(--md-admonition-couleur--remarque);
    -webkit-mask-image: var(--md-admonition-icon--remarque);
            mask-image: var(--md-admonition-icon--remarque);
  }

  :root {
    --md-admonition-icon--preuve: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M5.433 2.304A4.494 4.494 0 003.5 6c0 1.598.832 3.002 2.09 3.802.518.328.929.923.902 1.64v.008l-.164 3.337a.75.75 0 11-1.498-.073l.163-3.33c.002-.085-.05-.216-.207-.316A5.996 5.996 0 012 6a5.994 5.994 0 012.567-4.92 1.482 1.482 0 011.673-.04c.462.296.76.827.76 1.423v2.82c0 .082.041.16.11.206l.75.51a.25.25 0 00.28 0l.75-.51A.25.25 0 009 5.282V2.463c0-.596.298-1.127.76-1.423a1.482 1.482 0 011.673.04A5.994 5.994 0 0114 6a5.996 5.996 0 01-2.786 5.068c-.157.1-.209.23-.207.315l.163 3.33a.75.75 0 11-1.498.074l-.164-3.345c-.027-.717.384-1.312.902-1.64A4.496 4.496 0 0012.5 6a4.494 4.494 0 00-1.933-3.696c-.024.017-.067.067-.067.16v2.818a1.75 1.75 0 01-.767 1.448l-.75.51a1.75 1.75 0 01-1.966 0l-.75-.51A1.75 1.75 0 015.5 5.282V2.463c0-.092-.043-.142-.067-.159zm.01-.005z"></path></svg>');
    --md-admonition-couleur--preuve: rgb(170, 77, 0);
    --md-admonition-couleur-transparence--preuve: rgba(170, 77, 0,0.2);
}
  .md-typeset .admonition.preuve,
  .md-typeset details.preuve {
      /* couleur bordure  */
    border-color: var(--md-admonition-couleur--preuve);
  }
  .md-typeset .preuve > .admonition-title,
  .md-typeset .preuve > summary {
    background-color: var(--md-admonition-couleur-transparence--preuve);
    border-color: var(--md-admonition-couleur--preuve);
  }
  .md-typeset .preuve > .admonition-title::before,
  .md-typeset .preuve > summary::before {
      /* fond au niveau de l'icône */
    background-color: var(--md-admonition-couleur--preuve);
    -webkit-mask-image: var(--md-admonition-icon--preuve);
            mask-image: var(--md-admonition-icon--preuve);
  }
